.fa-heart{
  color: red;
}

.fa-headphones{
  color: #11ff15;
}

.fa-code{
  color: #e59710;
}

.step-1{
  background-color: #ff1919;
}

.step-2{
  background-color: #2660ff;
}

.step-3{
  background-color: #02ff1b;
}

.step-1, .step-2, .step-3{
  padding: 15px;
  height: 350px;
  color: #fff;
  border-radius: 5px;
  text-shadow: 1px 1px 1px 5px;
}

.step-1, .step-2, .step-3 p{
  font-size: 15px;
}

.custom-link{
  color: #01f !important;
}

.login-form-custom{
  border-style: solid;
  border-color: #0033ff;
  border-width: 0.1px;
  border-radius: 0px;
  padding: 10px;
}

.inner-cover{
  overflow-y: scroll;
}
