<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Poster Wall | Alpha -v 1.0
    </title>
    <link rel='stylehseet' href='static/guide.css'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'/>
    <link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">
    <link rel='stylesheet' href='{{ url_for('static', filename='custom.css') }}'/>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Poster Wall | {{ session['society'] }}</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/dashboard">Dashboard</a></li>
                  <li><a href="/create">Create</a></li>
                  <li><a href="/change-password">Change Password</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            {% with messages = get_flashed_messages(with_categories = True) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }} alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <div class='event-list'>
              {% for data in data %}
                <div class='jumbotron'>
                  <h3>{{ data['title'] }}</h3>
                  <div class='img-box'><img src='{{ data['image'] }}'/></div>
                  <p>{{ data['description'] }}</p>
                </div>
              {% endfor %}
            </div>
          </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script>window.jQuery || document.write('<script src={{ url_for('static', filename='static/jquery.min.js') }}><\/script>')</script>
  </body>
</html>
