<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Poster Wall | Alpha -v 1.0
    </title>
    <link rel='stylehseet' href='static/guide.css'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'/>
    <link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">
    <link rel='stylesheet' href='{{ url_for('static', filename='custom.css') }}'/>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Poster Wall</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="/login">Login</a></li
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <div class='row'>
              <div class='col-md-4'>
                <div class='step-1'>
                  <h4>Step 1 : Get An Account</h4>
                  <p> All Poster Wall accounts are created on the request and user information provided by respective societies. So if your society has a Poster Wall account you can login from that account. You can also request accounts (please read the Account Request Policy for more details)</p>
                </div>
              </div>
              <div class='col-md-4'>
                <div class='step-2'>
                  <h4>Step 2 : Login</h4>
                  <p>Login with the provided credentials and head to your dashboard. Important notice to all societies please don't share your account details with a lot of memebers.</p>
                </div>
              </div>
              <div class='col-md-4'>
                <div class='step-3'>
                  <h4>Step 3 : Create and Publish</h4>
                  <p>Get the control of the dashboard and create and store events on our servers and publish them whenever you want. Please read all the polices related to the usage and terms of use</p>
                </div>
              </div>
            </div>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Created by Vimal Sheoran <i class="fa fa-copyright" aria-hidden="true"></i> 2017</p>
              <p><i class="fa fa-code" aria-hidden="false"></i> ed with <i class="fa fa-heart" aria-hidden="true"></i> and <i class="fa fa-headphones" aria-hidden="true"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script>window.jQuery || document.write('<script src={{ url_for('static', filename='static/jquery.min.js') }}><\/script>')</script>
  </body>
</html>
